@import "variables";

@font-face {
  font-family: "Bandeins Sans";
  src: url("fonts/BandeinsSansVariableGX.ttf");
}

@font-face {
  font-family: "Bandeins Strange";
  src: url("public/fonts/BandeinsStrangeVariableGX.ttf");
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: $border;
  cursor: crosshair;
}

body{
  font-family: $strange;
  color: $text;
  background:$background radial-gradient(
    rgba(0, 0, 0, 0.3) 8%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 2vmin 2vmin;
  height: 100%;
  width: 100%;
  color: $text;
}

::selection{
  background: #F0A04B;
  color: white;
  -webkit-text-stroke-color: white;
}